body{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #ec6b97;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
}

.wrapper section{
    margin-bottom: 40px;
}

/*Checkbox*/

.checkbox{
    display: none;
    
}

.checkbox-label{
    display: flex;
    align-items: center;
    letter-spacing: 0.4px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin-bottom: 10px;
    
    
}


.checkbox-label::before{
    content: '';
    display: block;
    height:1.5rem;
    width: 1.5rem;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 4px;
    margin-right: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    transition: .3s ease-in-out;
    border: #07bdac;

}

.checkbox:checked + .checkbox-label::before{
    background-color: #07bdac;
}



































